fastapi
uvicorn
nsepy
requests
beautifulsoup4
lxml
transformers
torch
pandas
python-dotenv
chromadb
pydantic-settings
sqlalchemy
psycopg2-binary
celery
redis
huggingface_hub
accelerate
bitsandbytes
datasets
peft
python-weather
